.mySwiper {
    position: relative;
    padding: 0 50px;
    /* Adjust padding to make space for the shadows */
    &::before,
    &::after {
        content: "";
        position: absolute;
        top: 0;
        bottom: 0;
        width: 400px;
        /* Adjust width as needed */
        z-index: 10;
    }
    &::before {
        left: 0;
        background: linear-gradient(to right, rgba(255, 255, 255, 1), rgba(255, 255, 255, 0));
    }
    &::after {
        right: 0;
        background: linear-gradient(to left, rgba(255, 255, 255, 1), rgba(255, 255, 255, 0));
    }
    @media (max-width: 750px) {
        padding: 0;
        &::before,
        &::after {
            display: none;
        }
    }
}

.card {
    width: 302px;
    max-width: 100%;
    height: 169px;
    border: none;
    border-radius: 16px;
    overflow: hidden;
    position: relative;
    background-color: white;
    cursor: pointer;
    &:hover {
        box-shadow: 0px 1px 2px 0px #00000033;
        background: linear-gradient(to right, #F0F0F0, #E0E0E0);
    }
}

#pagination {
    display: flex;
    justify-content: center;
    /* لتمركز النقاط */
    align-items: center;
    gap: 8px;
    /* المسافة بين النقاط */
    margin-top: 20px;
    /* مسافة أعلى النقاط */
    position: absolute;
    /* لتثبيت النقاط */
    bottom: -1px;
    /* رفع النقاط قليلاً */
    left: 50%;
    transform: translateX(-50%);
    .swiper-pagination-bullet {
        width: 10px;
        /* عرض النقطة */
        height: 8px;
        /* ارتفاع النقطة */
        background-color: gray;
        border-radius: 50%;
        /* جعل النقاط دائرية */
        transition: all 0.3s ease;
        opacity: 0.5;
        /* تقليل وضوح النقاط غير النشطة */
        &:nth-child(n+5) {
            display: none;
            /* إخفاء أي نقاط بعد النقطة الرابعة */
        }
        &-active {
            background-color: #000;
            /* لون النقطة النشطة */
            width: 30px;
            /* جعل النقطة النشطة أكبر */
            border-radius: 16px;
            /* جعل النقطة النشطة بيضاوية */
            opacity: 1;
            /* وضوح كامل للنقطة النشطة */
        }
    }
    @media (max-width: 750px) {
        bottom: -30px;
        left: 40%;
    }
}