@charset "UTF-8";
.custom-button {
  color: #fff;
  background-color: #121212;
  border-radius: 10px;
  padding: 10px 20px;
  font-size: 16px;
  font-weight: bold;
  position: relative;
  text-align: center;
}

.custom-button::after {
  content: "Lets talk";
  position: absolute;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  color: #fff;
  background-color: transparent;
  border-radius: 10px;
  padding: 10px 20px;
  font-size: 16px;
  font-weight: bold;
  text-align: center;
  opacity: 0;
  -webkit-transition: opacity 0.3s ease-in-out;
  transition: opacity 0.3s ease-in-out;
}

.custom-button:hover::after {
  opacity: 1;
}

.custom-button:hover {
  color: transparent;
  background: linear-gradient(239.08deg, #17223B -22.66%, #1A3861 61.15%);
}

.call-to-action-card {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  gap: 10px;
  margin-top: 20px;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
}

.div-text {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  gap: 10px;
  width: 192px;
  height: 48px;
  border-radius: 12px;
  background-color: #121212;
  border: 1px solid #575760;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
}

.profile-image {
  width: 32px;
  height: 32px;
  border-radius: 8px;
  -webkit-border-radius: 8px;
  -moz-border-radius: 8px;
  -ms-border-radius: 8px;
  -o-border-radius: 8px;
}

.availability {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  gap: 4px;
  margin-top: 4px;
}

.availability-status {
  color: #E1E1E2;
  font-size: 16px;
  font-weight: 400;
  line-height: 16px;
}

.NAVBAR {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  padding: 20px;
  color: #121212;
  width: 628px;
  height: 64px;
  margin-top: 20px;
  border-radius: 20px;
  -webkit-box-shadow: 0px 0px 8px 0px rgba(26, 56, 97, 0.1019607843);
          box-shadow: 0px 0px 8px 0px rgba(26, 56, 97, 0.1019607843);
  -webkit-backdrop-filter: blur(50px);
          backdrop-filter: blur(50px);
  background-color: rgba(255, 255, 255, 0.5019607843);
  margin-bottom: 80px;
  position: fixed;
  top: 0;
  left: 50%;
  -webkit-transform: translateX(-50%);
          transform: translateX(-50%);
  z-index: 1000;
  border: 1px solid #E1E1E1;
}
@media (max-width: 600px) {
  .NAVBAR {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
    -webkit-box-pack: center;
        -ms-flex-pack: center;
            justify-content: center;
    padding: 20px;
    color: #121212;
    width: 343px;
    height: 64px;
    margin-top: 20px;
    border-radius: 20px;
    -webkit-box-shadow: 0px 0px 8px 0px rgba(26, 56, 97, 0.1019607843);
            box-shadow: 0px 0px 8px 0px rgba(26, 56, 97, 0.1019607843);
    -webkit-backdrop-filter: blur(50px);
            backdrop-filter: blur(50px);
    background-color: rgba(255, 255, 255, 0.5019607843);
    margin-bottom: 80px;
    position: fixed;
    left: 50%;
    -webkit-transform: translateX(-50%);
            transform: translateX(-50%);
    z-index: 1000;
    border: 1px solid #E1E1E1;
  }
}

.navbar-content {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  width: 96%;
  position: absolute;
}

.header-section {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  width: 100%;
  height: 530px;
}

.main-content {
  font-size: 48px;
  font-weight: 600;
  line-height: 72px;
  color: #FFFFFF;
  text-align: center;
  font-size: 24px;
  font-weight: 600;
  line-height: 36px;
  text-align: center;
}
.main-content .subtext {
  font-size: 16px;
  font-weight: 400;
  color: white;
  line-height: 24px;
  text-align: center;
}
.main-content .subtext {
  font-size: 14px;
  font-weight: 400;
  line-height: 21px;
  text-align: center;
  padding: 8px 0px;
}

.mySwiper {
  position: relative;
  padding: 0 50px;
  /* Adjust padding to make space for the shadows */
}
.mySwiper::before, .mySwiper::after {
  content: "";
  position: absolute;
  top: 0;
  bottom: 0;
  width: 400px;
  /* Adjust width as needed */
  z-index: 10;
}
.mySwiper::before {
  left: 0;
  background: -webkit-gradient(linear, left top, right top, from(rgb(255, 255, 255)), to(rgba(255, 255, 255, 0)));
  background: linear-gradient(to right, rgb(255, 255, 255), rgba(255, 255, 255, 0));
}
.mySwiper::after {
  right: 0;
  background: -webkit-gradient(linear, right top, left top, from(rgb(255, 255, 255)), to(rgba(255, 255, 255, 0)));
  background: linear-gradient(to left, rgb(255, 255, 255), rgba(255, 255, 255, 0));
}
@media (max-width: 750px) {
  .mySwiper {
    padding: 0;
  }
  .mySwiper::before, .mySwiper::after {
    display: none;
  }
}

.card {
  width: 302px;
  max-width: 100%;
  height: 169px;
  border: none;
  border-radius: 16px;
  overflow: hidden;
  position: relative;
  background-color: white;
  cursor: pointer;
}
.card:hover {
  -webkit-box-shadow: 0px 1px 2px 0px rgba(0, 0, 0, 0.2);
          box-shadow: 0px 1px 2px 0px rgba(0, 0, 0, 0.2);
  background: -webkit-gradient(linear, left top, right top, from(#F0F0F0), to(#E0E0E0));
  background: linear-gradient(to right, #F0F0F0, #E0E0E0);
}

#pagination {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  /* لتمركز النقاط */
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  gap: 8px;
  /* المسافة بين النقاط */
  margin-top: 20px;
  /* مسافة أعلى النقاط */
  position: absolute;
  /* لتثبيت النقاط */
  bottom: -1px;
  /* رفع النقاط قليلاً */
  left: 50%;
  -webkit-transform: translateX(-50%);
          transform: translateX(-50%);
}
#pagination .swiper-pagination-bullet {
  width: 10px;
  /* عرض النقطة */
  height: 8px;
  /* ارتفاع النقطة */
  background-color: gray;
  border-radius: 50%;
  /* جعل النقاط دائرية */
  -webkit-transition: all 0.3s ease;
  transition: all 0.3s ease;
  opacity: 0.5;
  /* تقليل وضوح النقاط غير النشطة */
}
#pagination .swiper-pagination-bullet:nth-child(n+5) {
  display: none;
  /* إخفاء أي نقاط بعد النقطة الرابعة */
}
#pagination .swiper-pagination-bullet-active {
  background-color: #000;
  /* لون النقطة النشطة */
  width: 30px;
  /* جعل النقطة النشطة أكبر */
  border-radius: 16px;
  /* جعل النقطة النشطة بيضاوية */
  opacity: 1;
  /* وضوح كامل للنقطة النشطة */
}
@media (max-width: 750px) {
  #pagination {
    bottom: -30px;
    left: 40%;
  }
}

.textListen {
  font-size: 18px;
  font-weight: 400;
  margin-bottom: 10px;
  line-height: 27px;
  color: #494949;
}

.pairenttextclients {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  gap: 4px;
  margin-top: 20px;
  margin-bottom: 20px;
}
.pairenttextclients .textclients {
  font-size: 32px;
  font-weight: 500;
  line-height: 48px;
  color: #121212;
  text-align: center;
}
@media (max-width: 750px) {
  .pairenttextclients {
    font-size: 16px;
    font-weight: 400;
    line-height: 24px;
    text-align: left;
  }
  .pairenttextclients .textclients {
    font-size: 28px;
    font-weight: 500;
    line-height: 27px;
    text-align: center;
    color: #121212;
  }
}

.offer {
  width: Hug 584px px;
  height: Hug 32px px;
  padding: 4px 8px 4px 8px;
  gap: 12px;
  border-radius: 8px;
  opacity: 0px;
  background-color: #B4DD7E;
}
.offer .offerday {
  width: Hug 504px px;
  height: Hug 24px px;
  gap: 4px;
  opacity: 0px;
  font-size: 16px;
  font-weight: 400;
  line-height: 24px;
  text-align: left;
}
.offer .textList {
  width: 112px;
  height: 27px;
  font-size: 18px;
  font-weight: 400;
  line-height: 27px;
  text-align: left;
}
@media (max-width: 750px) {
  .offer .offer {
    width: Fixed 343px px;
    height: Hug 56px px;
    padding: 4px 8px 4px 8px;
    gap: 12px;
    border-radius: 8px 0px 0px 0px;
    opacity: 0px;
  }
  .offer .textclients {
    width: 202px;
    height: 27px;
    font-size: 18px;
    font-weight: 500;
    line-height: 27px;
    text-align: center;
    margin-bottom: 10px;
  }
  .offer .textList {
    width: 100px;
    height: 24px;
    font-family: Poppins;
    font-size: 16px;
    font-weight: 400;
    line-height: 24px;
    text-align: left;
    text-underline-position: from-font;
    -webkit-text-decoration-skip-ink: none;
            text-decoration-skip-ink: none;
  }
}

.containerImg {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}
@media (max-width: 600px) {
  .containerImg {
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
    gap: 8px;
  }
}

@media (max-width: 768px) {
  .section {
    width: 100%;
    height: 600px;
  }
}
html {
  scroll-behavior: smooth;
}

.poppins-thin {
  font-family: "Poppins", serif;
  font-weight: 100;
  font-style: normal;
}

.poppins-extralight {
  font-family: "Poppins", serif;
  font-weight: 200;
  font-style: normal;
}

.poppins-light {
  font-family: "Poppins", serif;
  font-weight: 300;
  font-style: normal;
}

.poppins-regular {
  font-family: "Poppins", serif;
  font-weight: 400;
  font-style: normal;
}

.poppins-medium {
  font-family: "Poppins", serif;
  font-weight: 500;
  font-style: normal;
}

.poppins-semibold {
  font-family: "Poppins", serif;
  font-weight: 600;
  font-style: normal;
}

.poppins-bold {
  font-family: "Poppins", serif;
  font-weight: 700;
  font-style: normal;
}

.poppins-extrabold {
  font-family: "Poppins", serif;
  font-weight: 800;
  font-style: normal;
}

.poppins-black {
  font-family: "Poppins", serif;
  font-weight: 900;
  font-style: normal;
}

.poppins-thin-italic {
  font-family: "Poppins", serif;
  font-weight: 100;
  font-style: italic;
}

.poppins-extralight-italic {
  font-family: "Poppins", serif;
  font-weight: 200;
  font-style: italic;
}

.poppins-light-italic {
  font-family: "Poppins", serif;
  font-weight: 300;
  font-style: italic;
}

.poppins-regular-italic {
  font-family: "Poppins", serif;
  font-weight: 400;
  font-style: italic;
}

.poppins-medium-italic {
  font-family: "Poppins", serif;
  font-weight: 500;
  font-style: italic;
}

.poppins-semibold-italic {
  font-family: "Poppins", serif;
  font-weight: 600;
  font-style: italic;
}

.poppins-bold-italic {
  font-family: "Poppins", serif;
  font-weight: 700;
  font-style: italic;
}

.poppins-extrabold-italic {
  font-family: "Poppins", serif;
  font-weight: 800;
  font-style: italic;
}

.poppins-black-italic {
  font-family: "Poppins", serif;
  font-weight: 900;
  font-style: italic;
}