.offer {
    width: Hug (584px)px;
    height: Hug (32px)px;
    padding: 4px 8px 4px 8px;
    gap: 12px;
    border-radius: 8px;
    opacity: 0px;
    background-color: #B4DD7E;
    .offerday {
        width: Hug (504px)px;
        height: Hug (24px)px;
        gap: 4px;
        opacity: 0px;
        font-size: 16px;
        font-weight: 400;
        line-height: 24px;
        text-align: left;
    }
    .textList {
        width: 112px;
        height: 27px;
        font-size: 18px;
        font-weight: 400;
        line-height: 27px;
        text-align: left;
    }
    @media (max-width: 750px) {
        .offer {
            width: Fixed (343px)px;
            height: Hug (56px)px;
            padding: 4px 8px 4px 8px;
            gap: 12px;
            border-radius: 8px 0px 0px 0px;
            opacity: 0px;
        }
        .textclients {
            width: 202px;
            height: 27px;
            font-size: 18px;
            font-weight: 500;
            line-height: 27px;
            text-align: center;
            margin-bottom: 10px;
        }
        .textList {
            width: 100px;
            height: 24px;
            font-family: Poppins;
            font-size: 16px;
            font-weight: 400;
            line-height: 24px;
            text-align: left;
            text-underline-position: from-font;
            text-decoration-skip-ink: none;
        }
    }
}